.product-reviews {
  text-align: center;
  padding-bottom: 2rem;
}

.title {
  margin-bottom: 1rem;
}

.avg-rating {
  margin: 0 1rem;
  color: var(--black);
  font-weight: 700;
}

.write-review-btn {
  /* display: block; */
  /* width: 100%; */
  border: 2px solid var(--black);
  padding: 0.65rem 2rem;
  margin: 0.5rem 1rem;
  color: var(--black);
  background: var(--white);
  outline: none;
  cursor: pointer;
  font-size: 0.85rem;
  font-family: inherit;
}

.write-review-btn:hover {
  border-color: var(--secondary);
  color: var(--secondary);
}

.product-reviews-content {
  margin: 1rem;
}

.be-first-review {
    /* text-align: left; */
    color: var(--black);
    margin-bottom: 2rem;
}

@media screen and (min-width: 760px) {
  .product-reviews {
    text-align: center;
  }

  .avg-rating {
    text-align: left;
    display: inline-block;
    padding: 0.4rem 2rem;
    /* margin: 0.5rem 1rem; */
  }
  .product-reviews-content {
    margin: 1rem 2rem;
    text-align: left;
  }
  .write-review-btn {
    width: 70%;
    margin: 0.5rem 2rem;
  }
  
  .be-first-review {
    text-align: center;
  }
}
