.rate-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    margin: 1rem;
}

.rate-item-text {
    text-align: left;
    font-weight: 600;
    margin: 0;
    color: var(--secondary);
}

.rate-stars {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--secondary);
    cursor: pointer;
}