.effect-1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid var(--secondary);
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
