.photos {
    /* display: flex; */
    margin:  1rem;
    /* border-radius: 1rem; */
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: auto;
    padding: 1rem 0;
    margin-bottom: 2rem;
    
}

.photos {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.photos::-webkit-scrollbar {
    width: 10px;
    background: var(--white);
}

.photos::-webkit-scrollbar-thumb {
    background: var(--primary-trans);
    border-radius: 1rem;
    cursor: pointer;
}

.photos::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-trans);
}


@media screen and (min-width: 760px) {
    .photos {
        margin: 1rem 2rem;
    }
}