.checkout-page {
    max-width: 760px;
    margin: auto;
}

.title {
    margin: 1rem;
    font-size: 2.5rem;
    color: var(--black)
}

.order-summary {
    margin: 0 1rem;
    margin-bottom: 2rem;
    
}
.short-order-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--shadow-2);
    padding: 0.5rem 1rem;
    
}

.show-full-summary-btn {
    border: 2px solid var(--black);
    background: transparent;
    color: var(--black);
    padding: 0.5rem;
    cursor: pointer;
}

.show-full-summary-btn:hover {
    color: var(--secondary);
    border: 2px solid var(--secondary);
    
}

.short-order-summary-total-price {
    padding: 0.5rem;
    margin: 0;
    font-weight: 700;
    color: var(--black);
}

.express-checkout {
    margin: 0 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.express-checkout-title {
    color: var(--secondary);
    font-weight: 600;
}

.login {
    margin: 1rem;
    display: flex;
    justify-content: center;
}


.login-btn {
    background: var(--black-stay);
    color: var(--secondary);
    font-weight: 600;
    font-size: 0.65rem;
    padding: 0.85rem 1.5rem;
    border: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
}
.login-btn:hover {
    
    filter: brightness(50%);
}

.return-to-cart-link {
    display: inline-block;
    font-size: 0.85rem;
    color: var(--secondary);
    padding: 0.75rem 1.5rem;
    margin: 0;
}

.return-to-cart-link:hover {
    color: var(--primary);
}





.OR-line {
    border-bottom:1px solid var(--secondary);
    margin: 1rem;
    text-align: center;
}
.OR-line p {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--secondary);
    background: var(--white);
    padding: 0 0.5rem;
    margin: 0;
    transform: translateY(45%);
}


@media screen and (min-width: 760px) {
    .login {
        border: 1px solid red;
        margin: 1rem 2rem;
    }
}