.cart {
    position: fixed;
    top: 60px;
    right: -100%;
    height: calc(100vh - var(--headerHeigth));
    background-color: var(--white);
    background-image: var(--bg-art);
    background-size: contain;
    width: 80%;
    overflow-y: scroll;
    z-index: 10;
    padding: 1rem;
    text-align: center;
}

.show-cart {
    animation: showCart .3s ease-in forwards;
}

.hide-cart {
    animation: hideCart .3s ease-in forwards;
}

@keyframes showCart {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes hideCart {
    0% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}

.cart::-webkit-scrollbar {
    width: 10px;
    background: var(--white);
}

.cart::-webkit-scrollbar-thumb {
    background: var(--primary-trans);
}

.cart::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-trans);
}

.title {
    margin: 0;
    font-weight: 600;
    color: var(--black);
    text-align: left;
}

.exit-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--black);
    width: 30px;
    height: 30px;
    margin: 0.5rem;
    cursor: pointer;
}

.exit-btn:hover {
    color: var(--secondary);
}

.cart-items-wrapper {
    margin: 1rem;

    padding: 0;
    border-bottom: 1px solid var(--black);
}

.subtotal-section {
    margin: auto;
    margin-top: 1rem;
}

.subtotal-title {
    font-size: 0.75rem;
    margin: 0.5rem 0;
    color: var(--black);
}

.subtotal {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 0.5rem 0;
    color: var(--black);
}

.tax-calc-info {
    font-size: 0.85rem;
    color: var(--black);
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-out-btn {
    margin-bottom: 1rem;
}