.cart-item {
    margin: auto;
    padding: 1rem;
    max-width: 300px;
    text-align:center;
    position: relative;
}

.image-wrapper {
    
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 1rem;
}

.image-wrapper-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
}

.remove-item-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 0;
    right: -1.5rem;
    font-size: 1.25rem;
    background: var(--black);
    border-radius: 50%;
    padding: 0.25rem;
    line-height: 1.5rem;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}

.remove-item-btn:hover {
    color: var(--primary);
}

.name-size {
    color: var(--black);
    margin: 0.5rem 0;
}


.price {
    font-size: 0.85rem;
    color: var(--black);
    margin: 0.5rem 0;
}

.quantity-setter {
    display: inline-block;
    border-bottom: 1px solid var(--black);
    color: var(--black);
    
}

.quantity {

    display: inline-block;
    margin: 0 0.5rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.quantity-btn {
    background: transparent;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0;
    border: none;
    cursor: pointer;
    line-height: 30px;
    color: var(--black);
}

.quantity-btn:hover {
    font-weight: bold;
    color: var(--secondary);
}

.subtotal {
}