.footer {
    background: var(--white);
    width: 100%;
    /* margin: auto; */
    position: relative;
}

.scroll-up {
    top: -10px;
    left: calc(50% - 1.25rem);
    transform: translate(-50%, -50%);
    margin: 0;

}

.scroll-up:hover {
    color: var(--primary);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1rem;
}

.logo-wrapper {
    margin-bottom: 1rem;
    display: inline-block;
}
.logo {
    text-align: center;
    color: var(--black);
}

.footer-socials {
    align-self: center;
}



.footer-socials a:hover {
    color:  var(--secondary);
}


.btn-wrapper {
    display: flex;
    /* justify-content: center; */
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.footer-btn {
    padding: 0.5em 1.5rem;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--black);
    color: var(--black);
    font-weight: 500;
    border-radius: 0;
}

.footer-btn:hover {
    color: var(--secondary);
    border: 2px solid var(--secondary);
}

.footer-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.85rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: var(--black);
}
.footer-footer p {
    margin: 0 1rem;
    color: var(--black);
    display: inline-block;
    font-size: 0.65rem;
}


@media screen and (min-width: 760px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin:1rem 2rem;
    }

    .logo-wrapper {
        margin-bottom: 0;
    }
    .socials {
        margin-bottom: 0;
    }
    
}