.footer {
    background: var(--white);
    width: 100%;
    max-width: 1366px;
    margin: auto;
}

.footer-content {
    display: flex;
    flex-direction: column;
    margin:1rem;
}

.logo-wrapper {
    margin-bottom: 1rem;
    display: inline-block;
}
.logo {
    color: var(--secondary);
}

.footer-socials {
    align-self: center;
}

.footer-socials a {

}

.footer-socials a:hover {
    color:  var(--secondary);
}


.btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}

.footer-btn {
    background: var(--secondary);
    color: var(--white);
    font-weight: 500;
}

.footer-btn:hover {
    color: var(--black);
}

@media screen and (min-width: 760px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin:1rem 2rem;
    }

    .logo-wrapper {
        margin-bottom: 0;
    }
    .socials {
        margin-bottom: 0;
    }
    
}