.header {
    position: fixed;
    top: calc(2rem - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1366px;
    height: 60px;
    background: transparent;
    padding: 0 1rem;
    z-index: 100;
    margin: 0 auto;
}

@media screen and (min-width: 760px) {
    .header {
        padding: 0 2rem;
    }
}
