.synopsis {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 4rem;
}

.effect-item {
    position: absolute;
    top: -50px;
    left: -100px;
    z-index: -1;
}

.synopsis-content {
    margin: 1rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    white-space: nowrap;
    overflow-x: scroll;
}



@media screen and (min-width: 760px) {
    .synopsis {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .synopsis-content {
        width: calc(100% - 4rem);
        margin: 0 2rem;
        max-width: 900px;
    }
}