.store-header {
    background: var(--black-stay);
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    /* position: sticky;
    top: 0;
    z-index: 99; */
}

.in-landing {
    position: absolute;
    top: var(--headerHeigth);
    left: 0;
    background: transparent;
}



.store-menu-icon div {
    background: var(--white-stay);
}

.store-header-logo {
    color: var(--white-stay);
    font-size: 2.5rem;
}


.menu-hover, .cart-hover {
    position: fixed;
    top: calc(var(--headerHeigth) + 4rem);
    padding: 0;
    margin: 0;
    min-width: 50px;
    min-height: 50px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    
}



.menu-hover {
    left: 1rem;
    /* transform: translate(calc(-1rem - var(--headerHeigth))); */
    
}

.cart-hover {
    right: 1rem;
    /* transform: translate(calc(1rem + var(--headerHeigth))); */
    
}

.hide-left {
    animation: hideLeft .3s ease-in-out forwards;
}

.hide-right {
    animation: hideRight .3s ease-in-out forwards;
}

@keyframes hideLeft {
    0% {
        transform: translateX(0);
        
    }
    100% {
        transform: translateX(calc(-2rem - var(--headerHeigth)));
    }
}

@keyframes hideRight {
    0% {
        transform: translateX(0);
    }
    100% {
        
        transform: translateX(calc(2rem + var(--headerHeigth)));
    }
}


.showup-left {
    animation: showLeft .3s ease-in-out forwards;
}

.showup-right {
    animation: showRight .3s ease-in-out forwards;
}

@keyframes showLeft {
    0% {
        transform: translateX(calc(-1rem - var(--headerHeigth)));
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes showRight {
    0% {
        transform: translateX(calc(2rem + var(--headerHeigth)));;
    }
    100% {
        transform: translateX(0);
    }
}


.menu-hover-icon {
    width: 28px;
    height: 20px;
}

.cart-hover-icon {
    line-height: 0.65rem;
    margin-right: 1rem !important;
    margin-bottom: 0 !important;
    color: var(--black) !important;
    
}


.cart-hover .cart-hover-icon div {
    background: transparent;
    color: var(--black);
}

.cart-hover .cart-hover-icon div:hover {
    background: transparent;
    color: var(--black);
}

.cart-hover .cart-hover-icon:hover div {
    background: transparent;
    color: var(--black);
}

.menu-hover:hover div div  {
    background: var(--secondary) !important;
}

.cart-hover:hover div {
    color: var(--secondary) !important;
}

@media screen and (min-width: 760px) {
    .store-header {
        padding: 1.5rem 2rem;
    }
    
    .menu-hover {
        left: 2rem;
        transform: translate(calc(-2rem - var(--headerHeigth)));
    }
    
    .cart-hover {
        right: 2rem;
        transform: translate(calc(2rem + var(--headerHeigth)));
        
    }
}