.store-header {
    background: var(--black-stay);
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    /* position: sticky;
    top: 0;
    z-index: 99; */
}

.in-landing {
    position: absolute;
    top: 60px;
    left: 0;
    background: transparent;
}



.store-menu-icon div {
    background: var(--white-stay);
}

.store-header-logo {
    color: var(--white-stay);
    font-size: 2.5rem;
}

@media screen and (min-width: 760px) {
    .store-header {
        padding: 1.5rem 2rem;
    }
}