.store-header {
    background: rgb(67, 67, 67);
    
    width: 100%;
    max-width: 1366px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
}

.in-landing {
    position: absolute;
    top: 60px;
    left: 0;
    background: transparent;
}

.store-menu-icon div {
    background: var(--white);
}

.store-header-logo {
    color: var(--white);
    font-size: 2.5rem;
}

@media screen and (min-width: 760px) {
    .store-header {
        padding: 1.5rem 2rem;
    }
}