 .videos {
    width: 100%;
    padding: 1rem 0;
}

.videos-inner {
    margin: 0 1rem;
    text-align: center;
    /* white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll; */
}


@media screen and (min-width: 760px) {
    .videos {
        padding: 2rem 0;
    }

    .videos-inner {
        margin: 0 2rem;
    }
}