.video {
    margin: 0.5rem 0;
}

.video-responsive {
    position: relative;
    /* padding-top: 56.25%; */
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .video-responsive iframe {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }


  @media screen and (min-width: 760px) {
      .video {
          display: inline-block;
          width: calc(50% - 1rem);
          margin: 0.5rem;
      }
  }

  @media screen and (min-width: 900px) {
    .video {
        display: inline-block;
        width: calc(33.3% - 1rem);
        margin: 0.5rem;
    }
}

@media screen and (min-width: 1100px) {
    .video {
        display: inline-block;
        width: calc(33.3% - 1rem);
        margin: 0.5rem;
    }
}
