.video {
    border: 2px solid yellow;
    position: relative;
    padding-top: 52.65%;
}
.player-wrapper {
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    display: none;
}
