.arts {
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
  /* min-height: 100vh; */
}

.sub-title {
  font-size: 1.1rem;
  padding: 0 2rem;
  font-weight: 700;
  text-align: center;
  color: var(--black);
}

.arts-text {
  margin: 1rem;
  text-align: left;
  color: var(--black);
}
.arts-text p {
    margin: 0;
    margin-bottom: 0.5rem;
}

.arts-quote {
  background: var(--black-stay);
}

.arts-quote h4 {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
    color: var(--secondary);

}

@media screen and (min-width: 760px) {
  .sub-title {
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 80%;
    font-size: 1.2rem;
  }

  .arts-text {
    margin: 1rem auto;
    width: 60%;
    text-align: center;
  }
}
