.brands {
    width: 100%;
    overflow-x: hidden;
    background: #ffffff;
    padding-bottom: 1rem;
}

.brands-title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
}

.list-wrapper {
    width: 300%;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.list-of-brands {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    padding-left: 0;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    animation: slidingBrands 10s linear infinite;
}
.list-of-brands:nth-child(2) {
    left: 100%;
}

.list-of-brands li {
    margin: 0 2rem;
    width: 100%;
    /* background: blue; */
    height: auto;
}

@keyframes slidingBrands {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


@media screen and (min-width: 760px) {
    .list-wrapper {
        width: 120%;
    }
}