.business {
  padding-bottom: 2rem;
  position: relative;
  margin-bottom: 2rem;
}

.effect-item {
  position: absolute;
  bottom: 10%;
  left: 16%;
  width: 70px;
  height: 70px;
  border-width: 10px;
  z-index: -1;
}

.business-content {
  margin: 0 1rem;
  color: var(--black);
}

.business-image-div-split {
    margin-top: 1rem;
}

.split-image-wrapper {
  max-height: 400px;
  overflow: hidden;
  border-radius: 1rem;
}

.quotes {
  color: var(--secondary);
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (min-width: 760px) {
    .business-content {
        margin: 0 2rem;
        margin-bottom: 2rem;
      }
      
  .business-image-div-split {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    margin-top: 2rem;
  }

  .split-text-wrapper {
    display: flex;
    align-items: center;
    
  }

  .split-text {
    padding: 2rem 1rem;
    box-shadow: 0px 0px 8px 0px var(--shadow-3);
    margin: 0;
    display: inline-block;
    border-radius: 1rem;
  }

}
