.featured {
    max-height: 600px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

.effect-item {
    position: absolute;
    top: -100px;
    z-index: -1;
    border-width: 20px;
    left: -130px;
}

.featured-content {
    margin: 1rem;
}

.featured h3 {
    margin: 0;
    color: var(--secondary);
    padding: 1.5rem;
    border: 1px solid var(--secondary);
    border-radius: 1rem 1rem 0 0;
    border-bottom: none;
}

.featured-show {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.image-wrapper {
    width: 100%;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}

.image-wrapper-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;
}

.featured-image-overlay {
    position: absolute;
    top: 4.925rem;
    left: 0;
    width: 100%;
    height: calc(100% - 3.25rem);
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;

}
.featured-image-overlay:hover, .featured-image-overlay:focus {
    backdrop-filter: brightness(35%);
}

.featured-image-overlay a {
    position: absolute;
    top: calc(100% + 3rem);
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 0.85rem 1.5rem;
    color: var(--black);
    background: var(--white);
}

.featured-image-overlay a:hover {
    color: var(--secondary);
}
.featured-image-overlay:hover a{
    animation: showUp .3s ease-out forwards;
}

.featured-hide {
    display: none;
}

@keyframes showUp {
    0% {
        top: calc(100% + 3rem); 
    }

    100% {
        top: 50%;
    }
}

@media screen and (min-width: 760px) {
    .featured-content {
        display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 2rem;
    }
    .featured-hide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* width: calc(50% - 0.25rem); */
        /* background:  */
        background: var(--bg-art) var(--black-stay);;
        
        background-size: contain;
        border-radius: 1rem;
        
  box-shadow: 0px 0px 8px 0px var(--shadow-2);
        padding: 2rem;
    }
    .featured-hide h4 {
        width: 100%;
        font-size: 1.5rem;
        color: var(--white-stay);
    }
    .featured-hide p {
        /* min-height: 50%; */
        margin: 0;
        width: 100%;
        color: var(--white-stay);
    }
    .featured-hide a {
        align-self: flex-end;
        display: inline-block;
        padding: 0.85rem 1.5rem;
        color: var(--black-stay);
        background: var(--white-stay);
    }
    
    .featured-hide a:hover {
        color: var(--secondary);
    }
}

