.programs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem;
    position: relative;
}

.effect-item-1 {
    position: relative;
    bottom: -20%;
    right: -10%;
    
    border-left: 30px solid #4dd0e1;
    /*  */
}

.effect-item-1::before {
    border-left: 30px solid #4dd0e1;
}

.effect-item-2 {
    position: absolute;
    bottom: -100px;
    left: -1rem;
    z-index: -1;
}

.programs-title {
    color: var(--black);
    font-size: 1.85rem;
}

.programs-items-wrapper {
    width: 100%;
}


@media screen and (min-width:760px) {
    .programs {
        margin: 2rem 2rem;
    }
}
@media screen and (min-width: 580px) {
    
    .programs-items-wrapper {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (min-width: 900px) {
    .programs-items-wrapper {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(3, 1fr);

    }
}