.title {
  /* background: var(--black); */
  background: var(--white);
  box-shadow: 0px 0px 8px 0px var(--shadow-3);
  padding: 1rem;
  margin: 2rem 1rem;
}

.title h2 {
    width: 100%;
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 1rem;
  display: inline-block;
  color: var(--secondary);
}

.title h3 {
    width: 100%;
  margin: 0;
  display: inline-block;
  font-size: 1.85rem;
  font-weight: 600;
  color: var(--secondary);
}

@media screen and (min-width: 760px) {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 2rem;
  }

  .title h2 {
    margin: 0;
    width: 40%;
    display: inline-block;
  }

  .title h3 {
    text-align: right;
    width: 60%;
  }

  .sub-title {
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 80%;
    font-size: 1.2rem;
  }
}
