.error404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.error404 h1 {
    font-size: 3rem;
    color: var(--secondary);
}

.error404 p {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 600;
}