.contact-landing {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 60px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
}

.effect-item-3 {
    position: absolute;
    top: -130px;
    border-width: 25px;
    left: calc(50% - 110px);
}

.effect-item-5 {
    position: absolute;
    bottom: 10%;
    border-width: 25px;
    right: 5%;
}

.effect-item-5 div {
    background: var(--secondary);
}

.cut-div {
    display: none;
    background: var(--white);
    position: absolute;
    top: -10%;
    left: -50%;
    transform: rotate(-5deg);
    width: 200%;
    height: 200px;
    /* z-index: 1; */
}

.title-wrapper {
    text-align: center;
    margin: 0 1rem;
    margin-top: 60px;
    /* z-index: 10; */
}
.title-wrapper h1 {
    text-align: center;
    font-weight: 700px;
    font-size: 2.5rem;
    color: var(--black);
    /* margin-top: 2rem; */
}
.title-wrapper h3 {
    text-align: center;
    font-weight: 400;
    color: var(--black);
}

.contact-options-wrapper {
    text-align: center;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 760px) {
    .title-wrapper {
        margin: 0 2rem;
        margin-top: 60px;
    }

    .title-wrapper h1 {
        font-size: 2.85rem;
    }

    .contact-options-wrapper {
        margin: 1rem 2rem;
    }
}