.dare-dance-live {
    display: flex;
    height: 25vh;
    max-height: 150px;
    width: 100%;
}

.dare-dance-live div {
    width: 33.33%;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Patrick Hand';
    
}

.dare-dance-live div:nth-child(1) {
    background: var(--black-stay);
    background-image: url('/images/bg-art2.png');
    background-size: cover;
    color: var(--white-stay);
    border: 1px dotted var(--white-stay);
    border-left: none;
    border-right: none;
}


.dare-dance-live div:nth-child(2) {
    background: transparent;
    color: var(--black);
    border: 1px dotted var(--white-stay);
    border-bottom: none;
    
}
.dare-dance-live div:nth-child(3) {
    background: var(--black-stay);
    background-image:  url('/images/bg-art2.png');
    background-size: cover;
    color: var(--white-stay);
    border: 1px dotted var(--white-stay);
    border-left: none;
    border-right: none;
}

@media screen and (min-width: 760px) {
    .dare-dance-live {
        height: 35vh;
    }

    .dare-dance-live div {
        font-size: 2.5rem;
    }
}