.important {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--black);
    color: var(--white);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}



@media screen and (min-width: 760px){
    .important {
    padding: 1rem 2rem;
    margin: 2rem auto;
    max-width: 80%;
    }
}