.scroll {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    /* text-align: center; */
    line-height: 40px;
    padding: 0 0;
    margin: 0;
    border-radius: 50%;
    background: var(--black-stay);
    color: var(--white-stay);
    cursor: pointer;
    user-select: none;
    z-index: 2;
}


.bounceDown {
    display: flex;
    animation: bouncyDown 3s infinite;
}

.bounceUp {
    display: flex;
    animation: bouncyUp 3s infinite;
}

.hide {
    display: flex;
}

.show {
    display: flex;
}


@keyframes bouncyUp {
    0% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-20px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bouncyDown {
    0% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(20px);
    }
    90% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}