.scroll-line {
    position: absolute;
    bottom: -0.125rem;
        height: 0.125rem;
    left: 0;
    
    width: 100%;
}

.scroll-line-inner {
     background: var(--black);
     height: 100%;
}

@media screen and (min-width: 760px) {
    .scroll-line {
        bottom: -0.22rem;
        height: 0.22rem;
    }
}

