.set-contact-info {
    padding-bottom: 2rem;
    text-align: left;
    position: relative;
    border: 1px solid transparent;
}


.cancel {
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

.cancel-icon {
    font-size: 1.5rem;
    color: var(--secondary);
   
    
}

.cancel-icon:hover {
    color: var(--black);

}

.set-contact-info h4{
    margin-top: 1.5rem;
    color: var(--secondary);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.set-contact-info form {
    margin: 0 1rem;
}

.set-contact-info form label {
    display: none;
}

.set-contact-info input {
    width: 100%;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem 0;
    border-radius: 0;
    outline: none;
    border: none;
    color: var(--secondary);
    background: transparent;
    -moz-box-shadow: 0 0 5px var(--shadow-3);
    -webkit-box-shadow: 0 0 5px var(--shadow-3);
    box-shadow: 0 0 5px var(--shadow-3);
}



.set-contact-info input:-webkit-autofill,
.set-contact-info input:-webkit-autofill:hover, 
.set-contact-info input:-webkit-autofill:focus, 
.set-contact-info input:-webkit-autofill:active{
    -webkit-text-fill-color: var(--secondary) !important;
    /* border: 1px solid var(--black) !important; */
    /* -webkit-box-shadow: 0 0 0 30px var(--white) inset !important; */
    -webkit-background-clip: text;
}



.contact-info-title, .shipping-address-title {
    margin-bottom: 0.5rem;
    color: var(--secondary);
    font-weight: 600;
}

.phone-instruct, .phone-error {
    color: rgb(131, 131, 131);
    margin: 0;
    font-size: 0.75rem;
}

/* .phone-error {
    color: red;
} */


.shipping-address-title {
    margin-bottom: 0.5rem;
}

.first-last-name-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
}



.country-dropdown {
    width: 100%;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem 0;
    border-radius: 0;
    outline: none;
    border: none;
    color: var(--secondary);
    background: transparent;
    -moz-box-shadow: 0 0 5px var(--shadow-3);
    -webkit-box-shadow: 0 0 5px var(--shadow-3);
    box-shadow: 0 0 5px var(--shadow-3);
}

.set-contact-info select:-webkit-autofill,
.set-contact-info select:-webkit-autofill:hover, 
.set-contact-info select:-webkit-autofill:focus, 
.set-contact-info select:-webkit-autofill:active{
    -webkit-text-fill-color: var(--secondary) !important;
    -webkit-background-clip: text;
}


.state-zip-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
}

.state-dropdown {
    width: 100%;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem 0;
    border-radius: 0;
    outline: none;
    border: none;
    color: var(--secondary);
    background: transparent;
    -moz-box-shadow: 0 0 5px var(--shadow-3);
    -webkit-box-shadow: 0 0 5px var(--shadow-3);
    box-shadow: 0 0 5px var(--shadow-3);
}



.update-info {
    display: flex;
    flex-direction: column;
}

.update-info-btn {
    display: inline-block;
    /* border-radius: 0.5rem; */
    font-weight: 600;
    margin: 1rem auto;
    padding: 0.85rem 1.5rem;
    border: 2px solid var(--black);
    outline: none;
    cursor: pointer;
    background: transparent;
    color: var(--black);
    align-self: center;
}

.update-info-btn:active, .update-info-btn:hover {
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

.update-info-btn-disabled, .update-info-btn-disabled:hover  {
    border: 2px solid rgb(123, 123, 123);
    color: rgb(123, 123, 123);
}


.error {
    color: red;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 0.65rem;
}


@media screen and (min-width: 760px) {
    .set-contact-info form {
        margin: 0 2rem;
    }
    

    .cancel {
        margin-right: 2rem;
    }
}