.form {
    border:  1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 1rem;
}

.form label {
    color: var(--white);
    display: none;
}

.form input {
    padding: 0.85rem 1.5rem;
    background: var(--black);
    border-radius: 1rem;
    margin: 0.5rem 0;
    outline: none;
    -moz-box-shadow: 0 0 5px var(--shadow-2);
  -webkit-box-shadow: 0 0 5px var(--shadow-2);
  box-shadow: 0 0 5px var(--shadow-2);
  border: none;
    color: var(--secondary);
}

.form input:-webkit-autofill,
.form input:-webkit-autofill:hover, 
.form input:-webkit-autofill:focus, 
.form input:-webkit-autofill:active{
    -webkit-text-fill-color: var(--black) !important;
    -webkit-box-shadow: 0 0 0 30px var(--primary) inset !important;
}

.form textarea {
    background: var(--black);
    color: var(--primary);
    -moz-box-shadow: 0 0 5px var(--shadow-2);
  -webkit-box-shadow: 0 0 5px var(--shadow-2);
  box-shadow: 0 0 5px var(--shadow-2);
  outline: none;
    resize: vertical;
    min-height: 150px;
    margin: 0.5rem 0;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}


.form-submit-btn {
    color: var(--black);
    background: var(--primary);
    
    -moz-box-shadow: 0 0 5px var(--shadow-2);
  -webkit-box-shadow: 0 0 5px var(--shadow-2);
  box-shadow: 0 0 5px var(--shadow-2);
    text-align: center;
    margin: 0.5rem auto;
    border-radius: 1rem;
}
.form-submit-btn:hover  {
    color: var(--white);
}