.collections {
    width: 100%;
    max-width: 1366px;
    min-height: 100vh;
    background: #080808;
    text-align: center;
    padding: 2rem 0;
}

.collections-title {
    color:white;
    margin-top: 0rem;
    /* border: 1px solid black; */
}

.collections-content {
    margin: 0 1rem;
}