.collections {
    width: 100%;
    background: var(--black-stay);
    text-align: center;
    padding: 2rem 0;
}

.collections-title {
    color:white;
    margin-top: 0rem;
    /* border: 1px solid black; */
}

.collections-content {
    margin: 0 1rem;
}