.success-stories {
  padding-bottom: 1rem;
  position: relative;
}

.effect-item {
  position: absolute;
  top: 2rem;
  right: 10%;
}

.SSs-content {
  margin: 0 1rem;
}

.title {
  font-size: 2.5rem;
}

.SSs-image-wrapper {
  /* display: inline-block; */
  position: relative;
  padding-top: 60%;
}

.SSs-image-wrapper-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.SSs-text-actions-wrapper {
  display: flex;
  flex-direction: column;
}

.SSs-text {
  padding: 1rem 0;
}

.SSs-text h4 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
  color: var(--black);
  margin-bottom: 1rem;
}
.SSs-text p {
  margin: 0;
  color: var(--black);
}

.SSs-actions {
  display: inline-block;
  margin: 0 auto;
}

.left-btn,
.right-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  background: transparent;
  border: 2px solid var(--black);
  border-radius: 50%;
  color: var(--black);
  font-weight: 700;
  margin: 1rem;
  user-select: none;
}

.left-btn:hover,
.right-btn:hover {
  border: 2px solid var(--primary);
  color: var(--primary);
}

@media screen and (min-width: 760px) {
  .success-stories {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .SSs-content {
    max-width: 1000px;
    width: 100%;
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
  }

  .SSs-image-wrapper {
    width: calc(65% - 0.25rem);
    padding-top: 40%;
    height: 0;
  }

 

  .SSs-text-actions-wrapper {
    width: calc(35% - 0.25rem);
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    -moz-box-shadow: 0 0 5px var(--shadow-3);
    -webkit-box-shadow: 0 0 5px var(--shadow-3);
    box-shadow: 0 0 5px var(--shadow-3);
  }

  .SSs-text {
    height: calc(100% - 40px - 2rem);
  }
}
