.feature-inline {
    margin: 1rem;
    margin-bottom: 2rem;
    border-left: 0.25rem solid var(--secondary);
    padding-left: 1rem;
}

.feature-inline h5 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--secondary);
    margin: 0;
    margin-bottom: 0.5rem;
}
.feature-inline:hover h5:hover {
    color: var(--black);
}

.feature-inline:hover {
    border-left: 0.25rem solid var(--black);
}



.feature-inline p {
    margin: 0;
    color: var(--black);
    font-size: 0.85rem;
}

.feature-link {
    color: var(--secondary);
    margin: 1rem;
}

.feature-inline:hover .feature-inline{
    font-weight: 700;
    text-transform: uppercase;
} 

@media screen and (min-width: 760px) {
    .feature-inline {
        margin: 1rem 2rem;
        margin-bottom: 2rem;
    }
}