.feature {
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}


.feature-content {
    margin: 1rem;
    width: calc(100% - 2rem);
    max-width: 150vh;
    max-height: calc(80vh - var(--headerHeigth) - 4rem);
    border-radius: 1rem;
    overflow: hidden;
}

.feature h3 {
    margin: 0;
    color: var(--secondary);
    padding: 1.5rem;
    border: 1px solid var(--secondary);
    border-bottom: none;
    border-radius: 1rem 1rem 0 0;
    border-bottom: none;
}

.feature-show {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    height: 100%;
}

.image-wrapper {
    width: 100%;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    color: var(--white-stay);
}

.image-wrapper-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;
}

.feature-image-overlay {
    position: absolute;
    top: 4.9rem;
    left: 0;
    width: 100%;
    height: calc(100% - 3.25rem);
    overflow: hidden;
    border-radius: 0 0 1rem 1rem;
}
.feature-image-overlay:hover, .feature-image-overlay:focus {
    background: rgba(0, 0, 0, 0.435);
}

.show-see-more {
    position: absolute;
    width: 100%;
    top: calc(100% + 3rem);
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 0.85rem 1.5rem;
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--white-stay);
    text-align: center;
}


.feature-image-overlay:hover .show-see-more {
    animation: showUp .3s ease-out forwards;
}

.show-see-more-icon {
    margin-left: 0.5rem;
}

.feature-hide {
    display: none;
}

@keyframes showUp {
    0% {
        top: calc(100% + 3rem); 
    }

    100% {
        top: 50%;
    }
}

@media screen and (min-width: 760px) {
    .feature-content {
        display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 2rem;
    
    }
    .feature-hide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--bg-art) var(--black-stay);;
        
        background-size: contain;
        border-radius: 1rem;
        
  box-shadow: 0px 0px 8px 0px var(--shadow-2);
        padding: 2rem;
    }
    .feature-hide h4 {
        width: 100%;
        font-size: 1.5rem;
        color: var(--white-stay);
    }
    .feature-hide p {
        /* min-height: 50%; */
        margin: 0;
        width: 100%;
        color: var(--white-stay);
        margin-bottom: 1rem;
    }

    .hidden-see-more {
        align-self: flex-end;
        display: inline-block;
        padding: 0.85rem 1.5rem;
        color: var(--white-stay);
    }
    .hidden-see-more a, .hidden-see-more-icon {
        font-size: 1rem;
        font-weight: 700;
        
    }

    .hidden-see-more-icon {
        margin-left: 0.85rem;
    }
    
    .hidden-see-more:hover {
        color: var(--secondary);
    }
}

