.mailing-list{
    
    text-align: center;
    background-color: var(--black);
    padding-bottom: 1rem;
}

.mailing-list div {
    width: 100%;
    padding: 1rem;
    background: var(--bg-art-par);
    background-size: contain;
}

.mailing-list h3 {
    margin-top: 2rem 0;
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--white);
}

.mailing-list-form {
    display: flex;
    margin: auto;
    max-width: 500px;
}

.mailing-list-form label {
    display: none;
}

.mailing-list-form input {
    padding: 0.65rem 1.5rem;
    padding-left: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--white);
    outline: none;
    background: transparent;
    color: var(--primary);
    cursor: pointer;
}

.mailing-list-form button {
    padding: 0.65rem 1.5rem;
    color: var(--white);
    border: none;
    border-bottom: 1px solid var(--white);
    outline: none;
    background: transparent;
    cursor: pointer;
}
.mailing-list-form button:hover .submit-arrow, .mailing-list-form button:active .submit-arrow {
    color: var(--white);
}

.submit-arrow {
    color: var(--secondary);
}

.error {
    color: red;
    font-size: 0.75rem;
    text-align: center;
}

.success {
    color: var(--white);
    font-size: 0.85rem;
    text-align: center;
}

@media screen and (min-width: 760px) {
    .mailing-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}