.store-landing {
    position: relative;
    background: var(--black-stay);
}

.store-banner {
    position: relative;
    width: 100%;
    /* max-height: calc(60vh - 60px); */
    padding-top: 56.25%;
    overflow: hidden;
    background: var(--black-stay);
}

.store-banner-inner {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background: var(--black);
}

.banner-image {
    filter: brightness(25%);
    /* object-fit: contain; */
}

@media screen and (min-width: 760px) {
    .store-banner {
        padding-top: 40.625%;
    }
}