.service {
  display: inline-block;
  width: 100%;
  padding: 2rem;
  font-size: 1.5rem;
    margin-bottom: 0.5rem;
    background: var(--white);
    color: var(--primary);
  border: 1px solid var(--black);
  cursor: pointer;
  user-select: none;
}




@media screen and (min-width: 760px) {
    .service {
        margin: 0;
    }
}