.services {
    width: 100%;
    max-width: 1366px;
    /* min-height: 100vh; */
    padding-bottom: 1rem;
}

.title {
    color: var(--black);
}

.services-items-wrapper {
    list-style: none;
    margin: 0 1rem;
    padding-left: 0;
}

.services-text {
    margin: 1rem;
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--primary);
}

@media screen and (min-width: 760px) {
    .services-items-wrapper {
        margin: 0 2rem;
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .services-text {
        margin: 2rem;
    }
}