.main {
  position: relative;
  background-color: var(--white);
  background: var(--bg-art);
  background-size: contain;
  padding-top: 60px;
  /* max-width: 1366px; */
  margin: auto;
  overflow: hidden;
}

.effect5-in-about-page {
  position: absolute;
  top: 0px;
  right: 5%;
  width: 100px;
  height: 100px;
}