.container {
}

.main {
    position: relative;
    background-color: var(--white);
  background: var(--bg-art);
  background-size: contain;
    /* max-width: 1366px; */
    padding-top: 60px;
    
    margin: auto;
    /* overflow-x: hidden; */
}