.accolades {
    
    position: relative;
    height: 100vh;
    max-height: 800px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}


.title {
    background-color: var(--white);
    background-image: var(--bg-art);
    background-size: contain;
    position: relative;
    top: 4.5rem;
    left: calc(50% - 2rem);
    transform: translate(calc(-50% + 2rem), -50%);
    width: calc(100% - 2rem);
    padding: 1rem;
    /* border-radius: 1rem; */
    max-width: calc(600px);
    margin-top: var(--headerHeigth);
    text-align: center;
}

.acco-title {
    margin: auto;
    color: var(--secondary);
}
.title h3 {
    color: var(--black);
    font-size: 1.225rem;
    margin: 0;
    font-weight: 500;
    display: inline-block;
}
.title h4 {
    margin: 0;
    color: var(--black);
    font-size: 1.125rem;
    font-weight: 500;
}

.content {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 100%;
    margin: 0;
    transform: rotate(-35deg);
    user-select: none;
}

.awards {
    user-select: none;
    position: absolute;
    display: grid;
    padding-left: 0.5rem;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    /* grid-template-rows: repeat(4, 1fr); */
    /* display: flex;
    flex-wrap: wrap; */
    top: 0;
    left: -30%;
    width: 100%;
    /* height: 100%; */
    cursor: pointer;
    animation: slide 50s linear infinite forwards;
}

.awards:last-of-type {
    top: 0;
    left: 70%;
    animation: slideb 50s linear infinite forwards;
}
@keyframes slide {
    100% {
        transform: translate(-100%);
    }
}
@keyframes slideb {
    100% {
        transform: translate(-100%);
    }
}




@media screen and (min-width: 760px) {
    .title {
        margin-left: 2rem;
    }
    .awards {
        grid-template-columns: repeat(4, 1fr);
    }
}



@media screen and (min-width: 1100px) {
    
    .awards {
        grid-auto-rows: 350px;
    }
}
