.more {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1366px;
  /* min-height: 100vh; */
  padding-bottom: 1rem;
}

.more-title {
  color: var(--secondary);
}

.more-content {
  margin: 0 1rem;
}

.more-content-inner {
  position: relative;
  padding: 0;
  padding-top: 100%;
  margin-bottom: 0.5rem;
  overflow: hidden;
  border-radius: 1rem;
  overflow: hidden;
}

.more-content-inner-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
}

.more-content-inner-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  z-index: 10;
}

.more-content-inner-text:hover {
  backdrop-filter: brightness(33.33%);
}


.more-content-inner-text h3 {
  backdrop-filter: brightness(33.33%);
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  color: white;
  padding: 1rem;
  -moz-box-shadow: 0 0 10px var(--shadow-3);
    -webkit-box-shadow: 0 0 10px var(--shadow-3);
    box-shadow: 0 0 10px var(--shadow-3);
}
.more-content-inner-text p {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0;
  margin-bottom: 2rem;
  transform: translateY(calc(100% + 2rem));
  color: white;
  font-weight: 400;
}

.more-content-inner-text:hover p {
  animation: showUp .3s ease forwards;
}

@keyframes showUp {
  0% {
    transform: translateY(calc(100% + 2rem));
  }
  90% {
    transform: translateY(calc(-10%));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes sliding {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.title-2 {
  display: none;
}

@media screen and (min-width: 760px) {

  .more-content {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 2rem;
    
  }
 
}
